<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# My Jupyter Notebook on IBM Watson Studio

Name:- PRATEEK KULLU <br>
Occupation:- Software Developer

<i>I am interested in data science because it brings insight of the data, get to know a lot about how thing work.
For example if you are passionate about fighting the devastating effects of climate change? As a data scientist you might be building more accurate climate models and weather prediction technology, helping to save lives, or you might be working on cutting-edge public transportation projects, cutting down on CO2 emissions.</i>

### Simple math calculation in bodmas rule

In [8]:
1 + 5 * 10

51

<hr>
<ul>
   <li>Coffee</li>
   <li>Tea</li>
   <li><a href="https://www.google.com/search?q=milk">Milk</a></li>
</ul> 
<table>
    <th>Serial No.</th>
    <th>Name</th>
    <tr>
        <td>1</td>
        <td><mark>Coffee</mark></td>
    </tr>
    <tr>
        <td>2</td>
        <td><blockquote>Tea</blockquote></td>
    </tr>
    <tr>
        <td>3</td>
        <td><s>Milk</s></td>
    </tr>
</table>
<img src="https://en.wikipedia.org/wiki/Milk#/media/File:Glass_of_Milk_(33657535532).jpg"></img>